# PostgreSQL
POSTGRES_DB=predictor_db
POSTGRES_USER=predictor_user
POSTGRES_PASSWORD=changeme_locally
# POSTGRES_HOST_AUTH_METHOD=trust
DEV_MODE=False

# 42 OAuth — get these from api.intra.42.fr > Applications
OAUTH_CLIENT_ID=u-s4t2ud-783e8d896cf18ca3bada5a384980b947557ce1867d2b72bf9c0b6ae087d24a65
OAUTH_CLIENT_SECRET=ask_Val
OAUTH_REDIRECT_URI=http://localhost:8000/auth/callback

# App
APP_SECRET_KEY=ask_Val
