POSTGRES_DB=predictor_db
POSTGRES_USER=user
POSTGRES_PASSWORD=password

OAUTH_CLIENT_ID=your_42_client_id
OAUTH_CLIENT_SECRET=your_42_client_secret
OAUTH_REDIRECT_URI=https://yourdomain.com/auth/callback

APP_SECRET_KEY=very_long_random_secret_here
